<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Challenge yourself with The Cambs Cipher. Solve a variety of cryptography challenges ranging from beginner practice to advanced puzzles."
    />
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Styling/challenges.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Styling/base.css') }}"
    />
    <title>The Cambs Cipher</title>
  </head>
  <body>
    <div class="header">
      <button
        class="menu-toggle"
        aria-controls="primary-nav"
        aria-expanded="false"
        aria-label="Toggle menu"
      >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <nav id="primary-nav" class="nav">
        <a href="/">Home</a>
        <a href="/challenges">Challenges</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/dashboard">Dashboard</a>
        <a href="mailto:cambscipher@outlook.com">Email</a>
      </nav>
      <a class="brand" href="/" aria-current="page">The Cambs Cipher</a>
    </div>

    <div class="parts">
      <div class="main">
        <h1>The Challenges</h1>
        <p>
          Welcome to the Challenges page! Here you'll find each of the cipher
          challenges to test your skills. Stay tuned for updates as we add more
          challenges each week!
        </p>
      </div>
      <div class="row2">
        <div class="challengesList">
          <h2>Challenges List</h2>
          <div class="intro-section">
            <a href="/challenge/0">Introduction</a>
          </div>
          <div class="challenges-grid">
            <a href="/challenge/1">Challenge 1 (Practice)</a>
            <a href="/challenge/2">Challenge 2 (Practice)</a>
            <a href="/challenge/3">Challenge 3 (Practice)</a>
            <a href="/challenge/4">Challenge 4</a>
            <a href="/challenge/5">Challenge 5</a>
            <a href="/challenge/6">Challenge 6</a>
            <a href="/challenge/7">Challenge 7</a>
            <a href="/challenge/8">Challenge 8</a>
            <a href="/challenge/9">Challenge 9</a>
            <a href="/challenge/10">Challenge 10</a>
            <a href="/challenge/11">Challenge 11</a>
            <a href="/challenge/12">Challenge 12</a>
          </div>
        </div>
        <div class="Rules">
          <h2>Challenge Rules</h2>
          <ul>
            <li>1. Enjoy Yourselves!</li>
            <li>All submissions must be your own work. (No AI!)</li>
            <li>Please do not post any hints or solutions online</li>
            <li>
              Please don't share solutions with other teams (you are competing
              against them!)
            </li>
            <li>Please only submit the answers nothing else</li>
            <li>
              Leave any padding charaters or mistakes (from the plaintext) in
              your answers if applicable
            </li>
            <li>
              Answers are not case-sensitive and punctuation will be ignored
            </li>
            <li>Don't use online decryption tools</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">Lucas Rooke &copy; 2026</div>
    <script src="{{ url_for('static', filename='Styling/menuBar.js') }}"></script>
  </body>
</html>
